<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Ajouter une note pour le patient</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="contenu">
    <form th:object="${newNote}" th:action="@{/addNote/{id}(id=${newNote.patId}, patientName=${patient.nom})}" method="post" class="form-horizontal" style="width: 100%">

        <div class="form-group">
            <label for="note" class="col-sm-2 control-label">Note</label>
            <div class="col-sm-10">
                <textarea th:field="*{note}" id="note" placeholder="Ajouter une note" class="col-4" required></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <button class="btn btn-primary btn-sm" type="submit">Enregistrer la note</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>